In [1]:
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
mongo = MongoClient(port = 27017)

db = mongo['languages']

populations = db['populations']

In [6]:
query={'LEP Population (Estimate)':{"$gt":0}}
sort=[('LEP Population (Estimate)',-1)]
limit=5
population_json=list(populations.find(query).sort(sort).limit(limit))

In [7]:
pprint(population_json)

[{'% of CVALEP Population': 94.3,
  '% of LEP Population': 94.1,
  'American Community Survey (ACS) Data Time Period': '2015-2019',
  'Borough': 'Manhattan',
  'Borough Community District Code': '112',
  'CVALEP Population (Estimate)': 35881,
  'Community District Name': 'Washington Heights, Inwood',
  'LEP Population (Estimate)': 70064,
  'Language': 'Spanish',
  '_id': ObjectId('644dd7638b89736c89bf9ee5')},
 {'% of CVALEP Population': 44.5,
  '% of LEP Population': 55.6,
  'American Community Survey (ACS) Data Time Period': '2015-2019',
  'Borough': 'Queens',
  'Borough Community District Code': '407',
  'CVALEP Population (Estimate)': 23883,
  'Community District Name': 'Flushing, Bay Terrace',
  'LEP Population (Estimate)': 67444,
  'Language': 'Chinese (incl. Mandarin, Cantonese)',
  '_id': ObjectId('644dd7638b89736c89bfb22d')},
 {'% of CVALEP Population': 67.1,
  '% of LEP Population': 77.1,
  'American Community Survey (ACS) Data Time Period': '2015-2019',
  'Borough': 'Queens',
  'Borough Community District Code': '403',
  'CVALEP Population (Estimate)': 18638,
  'Community District Name': 'Jackson Heights, North Corona',
  'LEP Population (Estimate)': 61459,
  'Language': 'Spanish',
  '_id': ObjectId('644dd7638b89736c89bfb06d')},
 {'% of CVALEP Population': 87.1,
  '% of LEP Population': 87.7,
  'American Community Survey (ACS) Data Time Period': '2015-2019',
  'Borough': 'Bronx',
  'Borough Community District Code': '204',
  'CVALEP Population (Estimate)': 17280,
  'Community District Name': 'Highbridge, Concourse Village',
  'LEP Population (Estimate)': 42235,
  'Language': 'Spanish',
  '_id': ObjectId('644dd7638b89736c89bfa105')},
 {'% of CVALEP Population': 88.3,
  '% of LEP Population': 89.0,
  'American Community Survey (ACS) Data Time Period': '2015-2019',
  'Borough': 'Bronx',
  'Borough Community District Code': '205',
  'CVALEP Population (Estimate)': 17219,
  'Community District Name': 'University Hts., Fordham, Mt. Hope',
  'LEP Population (Estimate)': 41609,
  'Language': 'Spanish',
  '_id': ObjectId('644dd7638b89736c89bfa18d')}]

In [8]:
language="Spanish"
match_query= {'$match':{'Language': language}}
group_query = {'$group':{'_id':'$Language','Lep Population':{'$sum':'$LEP Population (Estimate)'}}}
pipeline=[match_query,group_query]
results= list(populations.aggregate(pipeline))

In [5]:
pprint(results[0:10])

[{'Lep Population': 856530, '_id': 'Spanish'}]

In [25]:
# 5 BIGGEST LEP COMMUNITIES
total_population_df = pd.DataFrame(population_json)
total_population_df = total_population_df.sort_values(by='LEP Population (Estimate)', ascending=False)
top_five_communities = total_population_df.head()

In [28]:
top_five_communities = top_five_communities[['Community District Name','Borough','Language','LEP Population (Estimate)']]

In [29]:
top_five_communities

,Community District Name,Borough,Language,LEP Population (Estimate)
378,"Washington Heights, Inwood",Manhattan,Spanish,70064
1823,"Flushing, Bay Terrace",Queens,"Chinese (incl. Mandarin, Cantonese)",67444
1650,"Jackson Heights, North Corona",Queens,Spanish,61459
496,"Highbridge, Concourse Village",Bronx,Spanish,42235
524,"University Hts., Fordham, Mt. Hope",Bronx,Spanish,41609

In [4]:
pprint(results)

[{'Lep Population': 856530, '_id': 'Spanish'}]

In [6]:
result_df=pd.DataFrame(results)
result_df.head()

       _id  Lep Population
0  Spanish          856530

In [ ]:
total_population=sum(result_df['_id'])
total_population

In [35]:
# include= {'$sum':'$LEP Population (Estimate)'}
# include_list=list(populations.find({},include))

In [19]:
pprint(results[0:10])

[{'_id': 25},
 {'_id': 173},
 {'_id': 120},
 {'_id': 1986},
 {'_id': 608},
 {'_id': 730},
 {'_id': 1785},
 {'_id': 145},
 {'_id': 395},
 {'_id': 273}]